<?xml version="1.0" encoding="UTF-8"?>
<!-- appender : where -->
<!-- layout : how -->
<!-- message : what -->
<!-- logger : who -->
<!-- logging event level : logger가 메시지를 기록할 지 여부를 결정하는 기준. -->
<!-- debug -> info -> warn -> error -> fatal -->
<!-- logger에 설정된 이벤트 등급 이상의 이벤트만 기록. -->

<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%t] %-5level %logger{1.} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="best.gaia" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
<!--    <Logger name="jdbc.sqltiming" level="debug" additivity="false">-->
<!--      <AppenderRef ref="Console"/>-->
<!--    </Logger>-->
<!--    <Logger name="jdbc.resultsettable" level="debug" additivity="false">-->
<!--      <AppenderRef ref="Console"/>-->
<!--    </Logger>-->
    <Logger name="org.springframework" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>