@charset "UTF-8";

.fileNav{
	font-size : 2em;
}
.fileBox{
	padding-left : 10px;
}
.filesize-text{
	float : right;
}
.filename-text{
	cursor : pointer;
}
.fileNavHeader span .filename-text{
	color : #58a6ff;
}
.fileNavHeader span .filename-text:hover{
	color : #58a6ff;
	text-decoration: underline;
}