@charset "UTF-8";

.fileNav{
	font-size : 2em;
}
.fileBox{
	padding-left : 10px;
}
.filesize-text{
	float : right;
}
.filename-text{
	cursor : pointer;
}
.fileNavHeader span{
	padding-left : 10px;
}
.fileNavHeader span .filename-text{
	color : #58a6ff;
}
.fileNavHeader span .filename-text:hover{
	color : #58a6ff;
	text-decoration: underline;
}
.repoHeader{
	font-size : 2.5em;
}
.git .repoHeader img{
	height : 32px;
}
.git .repoHeader{
	margin-left : 10px;
}
.git .repoHeader a{
	width : fit-content;
}
.git .repoHeader span{
	color : black;
	font-weight : bold;
}