@charset "utf-8";

/* 로딩 관련 css */
#loading {
	height: 100%;
	left: 0px;
	position: fixed;
	_position:absolute; 
	top: 0px;
	width: 100%;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity : 0.5;
}
.loading {
	z-index: 100;
}
#loading_img{
	position:absolute; 
	top:50%;
	left:50%;
	height:100px;
	margin-top:-100px;	
	margin-left:-100px;	
	z-index: 200;
}
#projTitleValidChecker{
	font-size : 2em;
}
#projTitleValidChecker.icon-close{
	color : red;
}
#projTitleValidChecker.icon-check{
	color : green;
}

/* 왼쪽 프로젝트 메뉴바 선택됐을 경우 그림자 처리 */
.nk-sidebar .metismenu a.selectedMenu{
	box-shadow: inset 0 0 5px #666666;
}
button.selectedProj{
	box-shadow: 3px 3px 5px 6px #ccc;
}
.projectBtn:hover{
	box-shadow: 3px 3px 5px 6px #ccc;
	
}
.projBox button:focus{
	outline:none;
}

/* setting-member 관련 css */
.profileBox{
    text-align: center;
}
.profileBox img{
	width : 100%;
	padding : 4px;
	height : 300px;
	object-fit : cover;
	object-position : center;
}
.pluscard .profileBox{
	height : 315px;
	padding-top : 50px;
}
.memcard.dropped .card{
	box-shadow : 0 0 0 4px red inset;
}
.memcard .card:hover{
	box-shadow : 0 0 0 5px grey inset;
	cursor : pointer;
}
.pluscard .card:hover{
	box-shadow : 0 0 0 5px #50CD69 inset;
	cursor : pointer;
}
.mngMemModal{
	font-size : 2em;
}

.inviteModal{
	font-size : 1.5em;
}
.searchedMember:hover{
	background-color : skyblue;
	cursor : pointer;
}
.searchedMember i{
	font-size : 2em;
	margin-top : 5px;
	float : right;
    color: cadetblue;
}
#memSearchResult{
	height : 300px;
	overflow-y : scroll;
}
li.searchedMember{
	padding:10px;	
}

/* 라벨 관련 css */
.labelBox:hover{
	box-shadow: 2px 2px 2px 2px #40CD49;
	cursor : pointer;
}
.labelBox, #preview-labelBox{
	font-size : 1.3em;
    border-radius: 0.625rem;
    box-shadow: 2px 2px 2px 2px gray;
    border : 1px solid black;
    padding : 5px;
    margin : 5px;
    display : inline-flex;
}
.labelBox,#preview-labelBox i{
	font-size : 1.5em;
	margin-right : 5px;
}
.rolelabel{
	padding : 0px;
}

.labelmodal{
	padding : 20px;
}
.labelmodal i:hover{
	cursor : pointer;
	background-color : #EEEEEE;
}
#label-icon-select i{
	font-size : 3em;
	margin : 5px;
}
#addLabelModal span{
	font-size : 1.3em;
}
.label-preview{
	padding-left : 40px;
}
.label-preview p{
	font-size : 1.3em;
}
.label-add-footer{
	margin-top : 20px;
}
.roleBox:hover{
	background-color : #DDDDDD;
	cursor : pointer;
}
.roleBox{
	padding-top : 5px;
}
.roleBox input[type='checkbox']{
	margin-top : 7px;
}
.roleBox input[type='text']{
	width : 100%;
}
.roleBox span{
	font-size : 1.2em;
}
.roleBtnArea button{
	margin-top : 20px;
	float : left;
}
#editRoleBtn{
	float : right;
}
.roleDeleteBtn{
	float : right;
}
.moveButton:hover{
	cursor : pointer;
}
.languages a:hover{
	cursor : pointer;
}
.has-arrow:hover{
	cursor : pointer;
}
#language-setting a:hover{
	cursor : pointer;
}
#languages{
	padding-top : 0px;
	padding-bottom : 0px;
}
#languages li:hover{
	cursor : pointer;
	background-color : #EEEEFF;
}
#languages li{
	font-size : 1.2em;
}
#language-setting{
	width : 120px;
}
#language-setting a{
	width : 100%;
	text-align : right;
}
.profile:hover{
	cursor: pointer;
	border : 3px solid darkseagreen;
}
.profile{
    width: 57px; height: 57px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.newRole{
	background-color : #FFEEEE;
}
.proj-close-btns{
	width : 100%;
}
.proj-finish-date button{
	float : right;
}
.proj-finish-date{
	display : flex;
}
#mng_proj_end{
	width : 60%;	
}
.inviteModal input{
	width:auto;
}
#shortcutModal .modal-header{
	display : block;
}
.shorthead{
	font-size : 2.5em;
	margin-bottom : 15px;
}
.shorthead button{
	font-size : 1.5em;
}
.modal-header p{
	font-size : 1.5em;
}
#shortcutModal .modal-content{
	color : white;
	background : dimgray;
	opacity : 0.8;
}
#shorthead .modal-title{
	font-weight : bold;
}
span.shortcut{
    border: 2px solid white;
    margin: 6px;
    padding: 6px;
    border-radius: 0.7rem;
}
#shortcutModal .modal-body{
	display : grid;
}
#shortcutModal .modal-body h3{
	margin-top : 15px;
	color : white;
}
#shortcutModal .modal-body div{
	font-size : 1.3em;
}
#shortcutModal .modal-body button{
	float : right;
	background: dimgray;
    color: white;
    border: 2px solid white;
    border-radius: 0.7rem;
    margin: 6px;
    padding: 6px;
}
span#currentLanguage {
    font-size: 1.3em;
}

.total-search{
	margin: auto !important;
}

.total-search-dropdown{
	transform: translate3d(-305px, 38px, 0px) !important;
	width: 19rem !important;
	max-height: 400px;
    overflow-y: scroll;
    text-overflow: ellipsis;
}
.total-search-dropdown-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.header-left-custom{
    width: 35%;
}
.dropdown-header{
	color : #b73e3eb3 !important;
    background-color: #f3f7f9;
    font-size: 1rem;
}

.pl-25{
	padding-left: 2.5rem !important;
}

.total-search-dropdown .dropdown-item:hover{
    color: #16181b;
    text-decoration: none;
    background-color: #f9e2f24f;
    font-size:1.1rem;
    border: 0px;
    border-radius: 0.325rem;
    box-shadow: 15px 7px 15px -10px #a99de7;
}
.dropdown-item{
	color: #212529 !important;
    margin: 0.5rem 0;
}
.searchProfile{
	width: 45px !important;
    height: 45px !important;
}




