@charset "UTF-8";
.issue-header{
	background-color : #FFFFFF;
	color : black;
	margin-bottom : 20px;
	height : 60px;
}
.issue-header div{
	padding-top : 10px;
}
.issueBox{
	background-color : #FFFFFF;
	margin : 2px;
	padding-top : 25px;
	height : 70px;
	color : black;
}
.issue-footer{
	margin-top : 20px;
}
#issuelist{
    margin-right: -15px;
    margin-left: -15px;
}
.issue-writer, .issue-assignee{
	margin-top : -15px;
	height : 30px;
	width : 30px;
}