@charset "UTF-8";
.issue-header{
	background-color : #FFFFFF;
	color : black;
	margin-bottom : 20px;
	height : 60px;
}
.issue-header div{
	padding-top : 10px;
}
.issueBox{
	background-color : #FFFFFF;
	margin : 2px;
	padding-top : 25px;
	height : 70px;
	color : black;
}
.issue-footer{
	margin-top : 20px;
}
#issuelist{
    margin-right: -15px;
    margin-left: -15px;
}
.issue-writer, .issue-assignee{
	margin-top : -15px;
	height : 30px;
	width : 30px;
}

.menulist{
	padding-right : 0px;
}
.menulist .menuBox{
	background-color : #FFFFFF;
	font-size : 1.5em;
	margin-top : 10px;
	width : 100%;
}
.menulist .menuBox p{
	margin-bottom : 0px;
}
.menulist .menuBox img{
	width : 50px;
	height : 50px;
	
}
.menulist .menuBox i{
	float : right;
	margin-right : 10px;
	margin-top: 30px;
}
.issue-title{
	background-color : #FFFFFF;
	margin-top : 0px;
    margin-right: 0px;
    margin-left: -0px;
}
.issue-title i{
	float : right;
	font-size : 2.0em;
}
.issue-title a{
	font-weight : bold;
}
.issue-title span{
	font-size : 1.5em;
}
.issue-title .namefield{
	font-size : 1.5em;
	font-weight : bold;
}
.issue-title i{
	font-size : 1.5em;
	font-weight : bold;
	margin-top : 10px;
}
.issue-body .col-md-9{
	padding-top : 30px;
}
.issue-reply{
	padding-left : 20px;
	margin-bottom : 20px;
}
.issue-reply i{
	float : right;
}
.rep-right{
	background-color : white;
	margin-left : 30px;
	padding-left : 0px;
	padding-right : 0px;
}
.rep-right .repHeader, .repBody{
	padding : 10px;
}
.rep-right .repHeader{
	background-color : #F7F7F7;
}
.rep-right .repBody{
	background-color : #FFFFFF;
}
.rep-right .repBody textarea{
	width : 100%;
}
.issue-change img{
	width : 30px;
	height : 30px;
	margin-right : 10px;
}
.issue-change i{
	padding-left : 30px;
}
.repWrite{
	margin-top : 30px;
}
.repWrite .repFoot{
	float : right;
}
.issueTitle input{
	margin-bottom : 10px;
	font-size : 1.5em;
	width : 100%;
	padding : 5px;
	padding-left : 15px;
}
.btnDiv button{
	margin-top : 15px;
	float : right;
}
.menuBox input{
	border : none;
}


