@charset "UTF-8";
.issue-header{
	background-color : #888888;
	color : black;
	margin-bottom : 20px;
	height : 60px;
}
.issue-header div{
	padding-top : 10px;
}
.issue-title{
	height : 50px;
}
.issueBox{
	background-color : #DD9999;
	margin : 2px;
}
.issue-footer{
	margin-top : 20px;
}
#issuelist{
    margin-right: -15px;
    margin-left: -15px;
}