@charset "UTF-8";
.issue_title a{
	color : blue;
	font-weight : bold;
}
.kanban-board{
    margin-bottom: 30px;
    border: 0px;
    border-radius: 0.625rem;
    box-shadow: 13px 11px 11px -15px grey;
	height : 700px;
	overflow-y : scroll;
	background : white;
}
#myKanban button{
	float : right;
	margin-right : 10px;
	margin-bottom : 10px;
}
.kanban-board-header:hover{
	cursor: move;
}
.kanban-item{
	background : aliceblue;
    box-shadow: 14px 17px 13px -15px grey;
}
.kanban-drag{
	height : 100%;
}
.helparea{
	display : inline-block;
	width : 100%;
}
.helparea div{
	float:right;
	font-size : 2em;
	margin-right : 20px;
}
.helparea a{
	color: lightsteelblue;
}