@charset "UTF-8";
.issue_title a{
	color : blue;
	font-weight : bold;
}
.kanban-board{
    margin-bottom: 30px;
    border: 0px;
    border-radius: 0.625rem;
    box-shadow: 6px 11px 41px -28px #a99de7;
}
#myKanban button{
	float : right;
	margin-right : 10px;
	margin-bottom : 10px;
}
.kanban-board{
	height : 700px;
	overflow-y : scroll;
}