

@charset "UTF-8";
.flex-items-center {
    align-items: center!important;
}
.flex-justify-between{
	justify-content: space-between!important;
}
.menu-heading{
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	font-size: inherit;
	font-weight: 600;
	color: var(--color-menu-heading-text);
	border-bottom: 1px solid var(--color-border-secondary);
}
.menu-item{
	position: relative;
    display: block;
    padding: 8px 16px;
    color: var(--color-text-primary);
    border-bottom: 1px solid var(--color-border-secondary);
}
.d-block {
	display: block!important;
}
.container-lg, .container-xl {
    margin-right: auto;
    margin-left: auto;
}
.container-lg {
    max-width: 1212px;
   }
.img-grid-right{
	display : grid;
	justify-content : right;
}
.page-path{
	padding:0;
    background: #F3F3F9;
    height:40px;
}
.display-webkit-box{
	display: -webkit-box;
}
.projectName{
	font-size: x-large;
}
textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding :0.375rem 0.75rem;
}
.alert{
  padding: 20px; 
  display:none;
  animation-duration: 1s;
  animation-delay: 1s;
}

.Subhead {
    display: flex;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid #21262d;
    flex-flow: row wrap;
}
.input-control {
    width: 440px;
    max-width: 100%;
    margin-right: 5px;
}
.input-size{
	height : 400px;
	max-height : 100%;
}
.header-fixed{
	position : fixed !important;
	width : 95%;
	z-index:10;
}
.side-position-fixed{
	width:20%;
	position:fixed;
}
.vertical-separator{
    margin-right: 20px;
    margin-left: 18px;
    border-left: 1px solid #6e7681;
}
.log-img-center{
	display: flex;
    justify-content: center;
    align-items: center;
}
.horizontal-separator{
	border-bottom: 0.2px solid #6e7681;
	opacity : 0.5;
}
.log-card-body{
	padding: 0.5rem 1.81rem !important;
}
.chatList-card-body{
	padding: 0.5rem 0rem !important;
}
.chatRoomList-over{
	height: 570px;
    overflow-y: auto;
}
.font-bold-black{
	font-weight: bold;
    color: black;
}
.pro_img{
	position : absolute;
}
.img-center{
	z-index:1;
}
.chat-img:hover .img-left{
	transform: translateX(-25px);
}
.chat-img:hover .img-right{
	transform: translateX(25px);
}
.img-left{
	transform: translateX(-15px); transition: all 0.8s ease;
}
.img-right{
	transform: translateX(15px); transition: all 0.8s ease;
}
.chat {
    border-radius: 45px;
    background: white;
    margin: 1% auto;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 25px #c9bcd0;
    min-height: 500px;
    max-height: 85vh;
    overflow: hidden;
    
}
.side-bar-content{
	height: 43px;
	overflow-y: auto;
}
.chat-card{
	border:hidden;
	border-radius: 0.625rem;
    box-shadow: 2px 11px 41px -10px #a99de7;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.25rem;
    margin:10px 0;
}
.chat-box.right .chat-card{
	border:hidden;
	border-radius: 0.625rem;
    box-shadow: -2px 11px 27px -11px #a99de7;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.25rem;
    margin:10px 0;
}
.left{
	float: left;
}
.right{
	float: right;
}
.chat-room{
	overflow:auto;
	height:50vh;
}
.chatRoom:hover{
	box-shadow: 9px 35px 35px -28px #a99de7;
	cursor: pointer;
}
.clickable:hover{
	box-shadow: 9px 35px 35px -28px #a99de7;
	cursor: pointer;
}
.clear{
	clear:both;
}
.chat-date{
	margin: auto auto auto 10px;
}
.chat-date.toRight{
	margin: auto 10px auto auto;
}
.chat-box{
	display: flex;
    clear: both;
    max-width: 70%;
}
.chat-day-alarm{
	clear:both;
	text-align: center;
}
.chat-mid-top{
	text-align: center;
}
.chat-top{
	height : 10%;
}
.inputChatText{
	margin: auto;
	text-align: center;
}
.membersId{
    font-weight: bold;
    font-size: 1.4em;
    margin: auto;
    width: max-content;
}
.row {
    display: flex;
    width: 100%;
}
.chat-room-position-above{
	position: absolute;
    top: 35%;
    left: 60%;
    transform: translate(-50%, -50%);
}
.chat-room-position-under{
	position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}
.inputForm{
	margin: auto;
}
#chatInput{
	width: 100%;
}
.chat-top-img-size{
	height: 40px;
    width: 40px;
}
.side-bar-card-body{
	padding: 1.25em !important; 
}
/* //////////////////////////////////////////////////// */
/* // 
/* // overview.jsp 추가 css
/* // 
/* //////////////////////////////////////////////////// */
#side-profile-body{
	margin : 10px;
}
#by_mem_nick{
	text-align : center;
}




/* //////////////////////////////////////////////////// */
/* // 
/* // securityLog.jsp 
/* // 
/* //////////////////////////////////////////////////// */

.loginDiv{	
	border : 1px solid black;
	width : 500px;
	height : 500px;
	position : absolute;
	top : 50%;
	left : 50%;
	margin-top : -250px;
	margin-left : -250px;
	padding : 50px;
}

/* //////////////////////////////////////////////////// */
/* // 
/* // calendar.jsp 
/* // 
/* //////////////////////////////////////////////////// */

.fc-event-time{
	display : none;
}
#side-profile{
	font-size : 1.3em;
}
