@charset "UTF-8";

#newsmenu{
	padding-bottom : 50px;
}
.news{
	margin-right : 50px;
}
.news .newsTitle{
	background-color : #EEEEEE;
	font-size : 1.5em;
	margin-left : 0px;
}
.news .newsBody{
	margin-left : 0px;
	margin-bottom : 30px;
}
.news .news-left{
	background-color : white;
	padding : 0px;
	font-size : 1.5em;
}
.news .news-left .newsContent{
	padding : 15px;
}
.news-left img{
	margin-left : 0px;
	width : 100%;
}
.news .news-right{
	background-color : white;
}
.news .newsReplyArea{
	overflow-y : scroll;
	padding-bottom : 70px;
}
.news .news-right .newsContent{
	padding-top : 20px;
}
.newsReplyArea .news-reply span{
	text-align : center;
}
.news-writebox{
	margin-top : 20px;
	position : absolute;
	width : 100%;
	height : 50px;
	bottom : 15px;
}
.news-writebox input{
	width : 100%;
	height : 100%;
}
.news-reply{
	padding-left : 15px;
}