@charset "UTF-8";

.newsheader{
	background-color : cornsilk;
	margin-left : 0px;
	font-size : 1.5em;
}
.newstitle{
	padding : 20px;
	flex-wrap : nowrap;
}
.newsheader i{
	float : right;
	font-size : 1.5em;
	margin : 20px;
}
.newsWriteTime{
	float : right;
}
.newsReplyArea{
	padding : 20px;
}
.newsBody{
	min-height : 350px;
	max-height : 500px;
}
.news-right{
	height : 100%;
}
.newsReplyArea{
	min-height : 250px;
	max-height : 430px;
	overflow-y : scroll;
}
.news-writebox{
	padding : 15px;
}
.news-writebox input[type=text]{
	height : 100%;
}
.news-left img{
	height : 100%;
	width : 100%;
    object-fit: revert;
}
.newsBody{
	overflow : hidden;
}
.news-right{
	max-height : 500px;
	overflow-y: scroll;
}
#top{
    position: fixed;
    right: 2%;
    bottom: 3%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 55px;
    display: block;
}
#top :hover{
	cursor : pointer;
}
#top i{
	font-size : 4em;
}
#top i:hover{
	color : royalblue;
}
#newsmenu button{
	float : right;
}
#newsmenu{
	padding : 20px;
	padding-top : 0px;
	margin : 0px;
}
.newsContent{
	padding-left : 20px;
}












