@charset "UTF-8";

#personal-page-body{
	
	padding : 10px;
	margin : 10px;
	overflow-y : auto;
	color: #8898aa;
	font-size : 1.5em;
}
.personal-page-content{
	padding-top : -15px;
	height : 450px;
	max-height : 450px;
}
.projectBox-template{
	border-radius: 25px;
	height: fit-content;
	font-size : 1.5em;
}
.projHeader{
	padding-top : 20px;
}
.card-body{
	margin : 10px;
	padding : 10px;
}
.card-body-down{
	margin : 10px;
	padding: 10px;
}
#projBody{
	margin-left : 0;
	margin-right: 0;
}
#projCont{
	margin-left : 0;
	margin-right: 0;
}

#personal-proj-list{
	background-color : white;
	border-radius: 25px;
	box-shadow: 6px 11px 41px -28px #A99DE7;
	width : calc(100% - 15px);
	padding : 10px;
	margin : 5px;
}

.cardBox{
	padding : 10px;
}
.projectBox{
	padding : 10px;
}
.projTitle{
	font-size : 1.5em;
}
.projManager{
	font-size : 1.5em;
	padding-right : 10px;
}
.proj-join-date-info{
	font-size : 1.5em;
}
.proj-start-date-info{
	font-size : 1.0em;
}
