@charset "UTF-8";

.wiki-container{
	display : grid;
	margin-left: 0;
    width: 100%;
}
.title-wiki{
	font-size: 2.0em;
    font-weight: bold;
}
.page-titles{
	margin : auto;
	padding : auto;	
}
.wiki-head{
	background : white; 
	border : 1px solid black;
	margin-left: 15px;
    width :100%;
    padding : auto;	
}
.wiki-body{
	width : 100%;
	margin-left: 15px;
	padding : auto;	
}
.wiki-content{
	background : white; 
	height : 300px;
	border : 1px solid black;
	max-height: 300px;
/*     overflow-y: auto; */
}
.tui-editor-contents{
	max-height: 298px;
	overflow-y: auto;
}

.wiki-right{
	background : white; 
	height : 300px;
	border : 1px solid black;
	max-height: 300px;
    overflow-y: auto;
	text-align: center;

}
.wiki-search{
    margin-left: 20%;

}
.wiki-btn-group{
	text-align: center;
}
.wiki-writer{
	font-size: larger;
	margin-left: 10px;
}
#wiki-list{
/* 	border : 1px solid black; */
	text-align: center;
	width : 100%;
	min-height: 260px;
}
.wiki-title{
	font-size: larger;
	text-align : center;
}
.wikiHis{
	transition: none;
}
.wiki-footer{
	width : 100%;
	background : white; 
	margin-left : 15px;
	padding : auto;
	height : 200px;
	border : 1px solid black;
	overflow-y: auto;
}