@charset "UTF-8";

.wiki-container{
	display : grid;
/* 	margin-left: 0; */
    width: 100%;
}
#wiki-header{
	margin-left: 15px;
    margin-right: 15px;
}
.title-wiki{
	font-size: 2.0em;
    font-weight: bold;
}
.page-titles{
	margin : auto;
	padding : auto;	
}
#wiki-head{
	margin-left: 15px;
	margin-right : 15px;
	 padding : 10px;	
}
.wiki-body{
margin-left: 15px;
}
.wiki-content{
	width : calc(70% - 15px);
	height : 450px;
	max-height: 450px;
/* 	margin-left : 15px; */
    overflow-y: auto;
}
.wiki-right{
	width : calc(30% - 30px);
	height : 450px;
	max-height: 450px;
	margin-left : 15px;
    overflow-y: auto;
}

.wiki-search{
	margin-left : 15px;
    display : flex;
    justify-content : center;

}
.wiki-search-btn{
	margin-left : 5px;
}
.wiki-btn-group{
	margin : auto;
	text-align: center;
	
}
.wiki-writer{
	font-size: larger;
	margin-left: 10px;
}
#wiki-list{
	text-align: center;
	width : 100%;
	min-height: 235px;
}
.wiki-title{
	font-size: larger;
	text-align : center;
}
.wikiHis{
	transition: none;
}
#wiki-head .wiki-writer .wikiHis:hover{
	color: blue;
	cursor: pointer;
}
.wiki-footer{
    margin-right: 15px;
	height : 200px;
	max-height: 200px;
	overflow-y: auto;
}
.wiki-history-title{
	height : 130px;
	max-height : 130px;
	padding : 15px;
	overflow-y: auto;
	margin-top : 15px;
}
.wikisearchtitle{
	width : auto;
}
#wiki-his{
	width : auto;
	margin-right : 15px;
	margin-left: 15px;
    
}
.wikiHisBox{
	font-size: 1.3em;
    font-weight: bold;
}